.education
{
border: 1px solid transparent;
box-shadow: 1px 2px 10px black;
width: 55%;
margin:0 auto;
display: flex;
flex-wrap: wrap;
flex-flow: column;
margin-top: 2%;
margin-bottom: 2%
} 
.eduHeading{
    padding: 5px;
    display: flex;
    
}
.heading{
    width: 50%;
    font-size: 1.5rem;
}
.icon{
    width: 50%;
    text-align: right;
}
hr{
    /* border-top: 1px solid #8c8b8b; */
    border: 0;
    height: 2px;
    width: 100%;
    margin: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.hr1px{
    border: 0;
    border-top: 1px solid rgba(0,0,0,1);
    width: 100%;
   
}
p{
    margin-bottom: 0;
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}
/* Modal Content */
.modal_content {
    display: flex;
    flex-wrap: wrap;
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 20vh;

}

.modal_label{
    width: 60%
}
.modal_heading{
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 0 auto;
    color: #0030ff;
}
.modal_content>button{
    flex: 1 1 33.3333%;
}

.button, .cancelbtn{
    background: white;
    border: 2px solid black;
    width:30vh;
    height: 10vh;
    margin: 1% ;
}

.cancelbtn{
    width:48%;
}

.buttonSave{
    background: blue;
    border: 2px solid blue;
    width:48%;
    height: 10vh;
    margin: 1% ;
    color: white;
    font-weight: bold;
}
.buttonSave[disabled] {
    opacity: 0.65; 
    cursor: not-allowed;
  }
.button:hover{
    background: #0030ff;
    color: white;
    font-weight: bold;
    border: 2px solid blue;
}
.close {
    color: #aaa;
    /* float: right; */
    font-size: 4vh;
    font-weight: bold;
    width: 100%;
    text-align: right;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.formBox
{   text-align: left;
    height: 80%;
    margin : 0 auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    /* flex: 1 1 auto; */
} 
.details
{
    padding:1vh;
    font-style: italic;
    font-size:13px;

}
.details>p
{
  margin: 0; 
}
.detailHeading{
    width: 75%;
    margin-left: 5%
  
}
.eduFlexBody{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.editEduDetailsIcons
{
    width: 13%;
    text-align: right;
}

.editIcon{
    margin-right: 2vw;
}
@media(max-width:650px){
    .education{
        width: 90%
    }
    .modal_content{
        width: 90%;
    }
    .modal_label{
        width: 95%;
    }
}

