.userinfo{
    text-align: center;
    border: 1px solid transparent;
    box-shadow: 1px 2px 10px black;
    width: 55%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    margin-top: 2%;
}
.icon{
    display: inline-block;
}
.icon a{
    color:dimgray;
    margin: 1%
}
.linkedin, .github{
    font-size: 1.5rem;
}

.linkedin:hover{
    color:#0073b1;
}
.github:hover{
    color:#24292e;
}
.name{
    font-size: 1.5rem;
}
.work{
    font-style: italic;
    font-size: 0.8rem;
}
.email i{
    margin: 1%
}
.email:hover{
    text-decoration: none;
    color: #dc4b3e;
}
@media(max-width:650px){
    .userinfo{
        width: 90%
    }
}