label{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 60%;

 }
 input{
    height:50px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    border: 1px solid dimgray;
    box-shadow: 0px 3px 4px dimgray;  
    margin-bottom: 3%;
 }

 i 
 {
    color :red ;
    text-shadow: 0px 1px 2px salmon;
 }
 .cancelbtn
 {  
    padding :1%;
    border:none;
    width:50%;
    background-color: red;
    color: white;
    font-weight: bolder;
    margin: 0 auto;
    font-family: 'Dancing Script', cursive;
 }
 .signupbtn
 {  
    padding :1%;
    width:50%;
    border:none;
    background-color: #0030ff;
    color:white;
    font-weight: bolder;
    margin: 0 auto; 
    font-family: 'Dancing Script', cursive;
 }

 @media (max-width:500px){
    .signupbtn, .cancelbtn {
        height: 3rem;
    }
    label{
        width: 95%;
    }
 }
