.heading {
    text-align: center;
    padding-top: 30px;
    /* font-family: 'Dancing Script', cursive; */
    font-size: 5rem;
    font-family: 'Special Elite', cursive;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
   
}
ul{
    text-align: center;
}
li
{
    display: inline;

    list-style: none;
    font-size: 2rem;
    line-height: 60px;
    margin: 1rem;
    text-shadow: 1px 1px 1px grey;
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Special Elite', cursive;

}



li a{

    color: #0030ff
}
  
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

@media (max-width:500px){
    .heading{
        font-size: 3.5rem;
    }
    li{
        font-size: 1.5rem;
    }
}