.label{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 45%;

 }
.label input{
    height:50px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    border: 1px solid dimgray;
    box-shadow: 0px 3px 4px dimgray;  
    margin-bottom: 3%;
    text-indent: 1rem;
    width: 100%;
 }

.label i 
 {
    color :red ;
    text-shadow: 0px 1px 2px salmon;
 }

 .signinbtn
 {  
    padding :1%;
    border:none;
    background-color: #0030ff;
    color:white;
    font-weight: bolder;
    margin: 0 auto; 
    font-family: 'Dancing Script', cursive;
    width: 100%;
    font-size:2rem;
 }

 @media (max-width:650px){
    .signinbtn {
        height: 3rem;
    }
    .label{
        width: 95%;
    }
 }