.label{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 60%;

 }
 .label>input, .TotalContent, select  {
    min-height:50px;
    border: 1px solid dimgray;
    box-shadow: 0px 3px 4px dimgray;  
    margin-bottom: 3%;
    text-indent: 1rem;
    width: 100%;
 }
 .label>input[disabled]{
     background: dimgray;
     
 }
 select{
    text-indent: 0;
    margin-bottom: 0;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;  /* remove default arrow */ 
    background-position: right;
    background-size: 1.5rem;
    background-repeat: no-repeat;  
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIUTiqXfjQTsQKJQkA_ykrUJZeFhox8cjTIuI2zSiUzbUerdre'); 
 }

 .label i 
 {
    color : red;
    text-shadow: 0px 1px 2px salmon;
 }

 .btn
 {  
    padding :1%;
    border:none;
    background-color: #0030ff;
    color:white;
    font-weight: bolder;
    margin: 0 auto; 
    font-family: 'Special Elite', cursive;
    width: 100%;
    font-size:2rem;
 }
 .btn[disabled] {
    opacity: 0.65; 
    cursor: not-allowed;
  }

 @media (max-width:500px){
    .btn {
        height: 3rem;
    }
    .label{
        width: 95%;
    }
 }
 .ScaleHeading{
      display: inline ;
 }
